config/n8n_workflow_1_radar.json
{
    "name": "Saham AI - Radar Harian",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 8 * * 1-5"
                        }
                    ]
                }
            },
            "name": "Schedule (Pagi)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                250,
                300
            ],
            "typeVersion": 1.2
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "35 15 * * 1-5"
                        }
                    ]
                }
            },
            "name": "Schedule (Sore)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                250,
                450
            ],
            "typeVersion": 1.2
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://localhost:8000/radar",
                "options": {
                    "timeout": 300000
                }
            },
            "name": "Panggil Saham AI API (Radar)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                360
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.status }}",
                            "value2": "success"
                        }
                    ]
                }
            },
            "name": "Cek Status Signal",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                700,
                360
            ],
            "id": "6"
        },
        {
            "parameters": {
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": false,
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"model\": \"google/gemini-2.0-flash-exp:free\", \"messages\": [ { \"role\": \"system\", \"content\": $('Panggil Saham AI API (Radar)').item.json.system_prompt }, { \"role\": \"user\", \"content\": \"Buatkan berita pasar berdasarkan data ini: \" + JSON.stringify($('Panggil Saham AI API (Radar)').item.json.raw_signals) } ] } }}",
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Tanya AI (OpenRouter)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                920,
                340
            ]
        },
        {
            "parameters": {
                "chatId": "8498817110",
                "text": "={{ $json.choices[0].message.content }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Kirim ke Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1140,
                340
            ]
        },
        {
            "parameters": {
                "chatId": "8498817110",
                "text": "📊 Pasar hari ini kurang mendukung.\nTidak ada sinyal BUY valid (skor di atas 70) yang ditemukan oleh AI Engine."
            },
            "name": "Telegram (No Signal)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                920,
                540
            ]
        }
    ],
    "connections": {
        "Schedule (Pagi)": {
            "main": [
                [
                    {
                        "node": "Panggil Saham AI API (Radar)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule (Sore)": {
            "main": [
                [
                    {
                        "node": "Panggil Saham AI API (Radar)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Panggil Saham AI API (Radar)": {
            "main": [
                [
                    {
                        "node": "Cek Status Signal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cek Status Signal": {
            "main": [
                [
                    {
                        "node": "Tanya AI (OpenRouter)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram (No Signal)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tanya AI (OpenRouter)": {
            "main": [
                [
                    {
                        "node": "Kirim ke Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}