config/n8n_workflow_2_cek.json
{
    "name": "Saham AI - Cek Saham (/cek)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ]
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                220,
                340
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.message.text }}",
                            "rightValue": "/cek",
                            "operator": {
                                "type": "string",
                                "operation": "startsWith"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "IF Command Cek",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// Ambil teks pesan dari Telegram\nconst text = $input.first().json.message.text || '';\nconst parts = text.trim().split(/\\s+/);\n\nif (parts.length < 2) {\n  return [{ json: { valid: false, error_msg: '❌ Format salah.\\nGunakan: /cek KODESAHAM\\nContoh: /cek BBCA' } }];\n}\n\nconst ticker = parts[1].toUpperCase();\n\n// Validasi: hanya huruf, 4 karakter\nif (!/^[A-Z]{4}$/.test(ticker)) {\n  return [{ json: { valid: false, error_msg: '❌ Kode saham tidak valid: ' + ticker + '\\nKode saham harus 4 huruf. Contoh: BBCA, TLKM, ASII' } }];\n}\n\nreturn [{ json: { valid: true, ticker: ticker } }];"
            },
            "name": "Extract Ticker",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                340
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "IF Valid Ticker",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                880,
                340
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "text": "={{ $json.error_msg }}"
            },
            "name": "Kirim Error Format",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1100,
                500
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "text": "=⏳ Tunggu sebentar, sedang menganalisis *{{ $json.ticker }}* secara real-time...",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Kirim Status Loading",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1100,
                280
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://localhost:8000/cek?ticker={{ $('Extract Ticker').first().json.ticker }}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Panggil Saham AI API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1320,
                280
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 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"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_prompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(JSON.stringify($json.raw_signals)) }}\n    }\n  ]\n}",
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Tanya AI (OpenRouter)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                280
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "text": "={{ $json.choices[0].message.content }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Kirim Hasil ke Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1760,
                280
            ]
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "IF Command Cek",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Command Cek": {
            "main": [
                [
                    {
                        "node": "Extract Ticker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Ticker": {
            "main": [
                [
                    {
                        "node": "IF Valid Ticker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Ticker": {
            "main": [
                [
                    {
                        "node": "Kirim Status Loading",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Kirim Error Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Kirim Status Loading": {
            "main": [
                [
                    {
                        "node": "Panggil Saham AI API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Panggil Saham AI API": {
            "main": [
                [
                    {
                        "node": "Tanya AI (OpenRouter)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tanya AI (OpenRouter)": {
            "main": [
                [
                    {
                        "node": "Kirim Hasil ke Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}